* {
	font-family: 'Thasadith', sans-serif;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 2px;
}
a{
	text-decoration: none;
	color: black;
}
body {
	padding: 30px;
	background: #F2F2F2;
}
.main-board {
	margin-top: 40px;
	width: 99%;
	min-width: 320px;
	height: 400px;
	background: black;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.main-board img {
	width: 100%;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white/*#FFFF00*/;
  font-weight: 900 !important;
  text-align: center;
  text-shadow: 1px 0px 1px black;
}
.board-image {
	filter: brightness(50%);
}
.main-image {
	height: 135px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.main-image .image-container {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: -125px;
	border: 5px solid white;
	z-index: 2;
}
.nav-bar-container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.nav-bar-container span {
	border: 2px solid #CECECE;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.nav-bar-container span:hover {
	background-color: cyan;
	color: black;
	border: 2px solid cyan;
}
.give-margin {
	margin-top: 40px;
}
.qualification {
	position: relative;
	overflow: hidden;
	height: 400px;
}
.qualification img {
	position: absolute;
	z-index: -1;
	margin-top: -700px;
	filter: brightness(40%);
}
.qualification h2 {
	font-size: 24px;
}
.qualification p {
	font-size: 16px;
}
.qualification h2, p {
	color: white;
}
.qualification h2, p {
	margin-left: 20px;	
}
.skills h2 {
	font-size: 24px;
}
.skills-container ul {
	display: flex;
	flex-wrap: wrap;
}
.skills-container ul li {
	width: 340px;
	height: 30px;
	margin-left: 30px;
	margin-right: 30px;
}
.projects h2 {
	font-size: 24px;
}
.projects-container {
	display: flex;
	flex-wrap: wrap;
}
.each-project {
	width: 200px;
	height: 300px;
	margin: 30px;
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.project1 {
	background-color: #8CAA3A;
	box-shadow: 0px 0px 20px #ABD145;
}
.project2 {
	background-color: #A2690A;
	box-shadow: 0px 0px 20px #C47F0A;
}
.project3 {
	background-color: #BC0000;
	box-shadow: 0px 0px 20px #DE0000;
}
.project4 {
	background-color: #3E0AA7;
	box-shadow: 0px 0px 20px #590CF5;
}
.project5 {
	background-color: #098EA5;
	box-shadow: 0px 0px 20px #68D7EB;
}
.project6 {
	background-color: #A13208;
	box-shadow: 0px 0px 20px #C93F0A;
}
.h2-font {
	font-size: 24px;
}
.h3-font {
	font-size: 20px;
}
.photography-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.each-photo {
	width: 350px;
	height: 260px;
	overflow: hidden;
	margin: 20px;
	position: relative;
	border: 5px solid #CECECE;
	box-shadow: 0px 0px 10px black;
}
.each-photo img {
	width: 100%;
	filter: brightness(50%);
	cursor: pointer;
}
.each-photo img:hover {
	filter: brightness(100%);
}
.centered-photo-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white/*#FFFF00*/;
  font-weight: 900 !important;
  text-align: center;
  text-shadow: 1px 0px 1px black;
}
.contact-me-container form {
	display: flex;
	flex-direction: column;
}
.contact-me-container form div {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	margin-top: 20px;
}
.contact-me-container form div input,textarea {
	width: 700px;
	border: 0px;
	height: 40px;
	border-radius: 5px;
	padding: 5px;
}
#submit {
	background-color: orange;
	display: inline-block;
	width: 400px;
	height: 50px;
	cursor: pointer;
}
.last-input-submit {
	justify-content: center !important;
}
/*button:hover span {display:none}
button:hover:before {content:"Reply!"}
*/
.project1:hover span, .project2:hover span, .project3:hover span, .project4:hover span, .project5:hover span, .project6:hover span{
	display: none;
}
.project1:hover:before {
	content: "Signup, Signin, Add Posts, Send and recieve Messages, Make Gallery";
}
.project2:hover:before {
	content: "Draw on web and share, follow people, gain followers";
}
.project3:hover:before {
	content: "Search Keywords, rank page, count no of pages in a domain, count out leading links from domain";
}
.project4:hover:before {
	content: "Hide important data inside an image.";
}
.project5:hover:before {
	content: "Convert PDF file to text file and text file to pdf file";
}
.project6:hover:before {
	content: "create or join room and the chat people inside that room";
}
